<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bison" frontName="bison">
            <module name="Bison_CustomizableProducts"/>
        </route>
    </router>
</config>