<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Block\Product\View\Options\Type\Select" type="Dolphin\Override\Block\Product\View\Options\Type\Select" />
    <preference for="Magento\Checkout\Controller\Cart\UpdateItemOptions" type="Dolphin\Override\Controller\Rewrite\Checkout\Cart\UpdateItemOptions" />
</config>